{% extends "base.html" %}
{% load static %}

{% block baslik %} Hakkımızda {% endblock baslik %}


{% block ekOgeler %}

{% endblock ekOgeler %}




{% block site-icerigi %}

<div style="margin: 4rem;" class="row">

   
    
    <div class="col-lg-6 mb-4">
    <div style="background-color: rgb(222, 173, 173);" class="card">
        <div class="card-body">

            <div class="product-title">

            <h3 style="text-align: center;">Biz Kimiz?</h3>
            <p>Yaptığımız tasarımlarla günlük hayatınızı renklendirmeyi seven iki çok yakın arkadaşız. </p>

            </div>

            
            

        </div>
    </div>
    </div>


    <div class="col-lg-6 mb-4">
        <div style="background-color: rgb(222, 173, 173);" class="card">
            <div class="card-body">
    
                <div class="product-title">
    
                <h3 style="text-align: center;">İade Politikamız Nedir?</h3>
                <p>İade veya değişim kabul etmiyoruz. Ancak siparişinizle ilgili herhangi bir sorun varsa, lütfen bana e-posta gönderin veya bana mesaj gönderin! </p>
    
                </div>
    
                
                
    
            </div>
        </div>
    </div>


    <div class="col-lg-6 mb-4">
        <div style="background-color: rgb(222, 173, 173);" class="card">
            <div class="card-body">
    
                <div class="product-title">
    
                <h3 style="text-align: center;">Sosyal Medyamız Var Mı?</h3>
                <p> EVET! Instagram'da @nikacraftstudio olarak bize ulaşabilirsiniz.
                    Daha fazlası için bizi takip edin ve yeni ürünlerden ilk siz haberdar olun! </p>
    
                </div>
    
                
                
    
            </div>
        </div>
    </div>
    


    <div class="col-lg-6 mb-4">
        <div style="background-color: rgb(222, 173, 173);" class="card">
            <div class="card-body">
    
                <div class="product-title">
    
                <h3 style="text-align: center;">Nelere Gönderim Yapıyoruz?</h3>
                <p> Dünyanın her yerine gönderim yapıyoruz! 
                    Tüm siparişler takipli kargo ile gönderilir. 
                    Gönderim süresi genellikle 6-7 iş günüdür.
                    Teşekkür ederim! </p>
    
                </div>
    
                
                
    
            </div>
        </div>
    </div>
    

    </div>


{% endblock site-icerigi %}