{% extends "base.html" %}
{% block baslik %} Kayit Ol {% endblock baslik %}

{% block site-icerigi %}

<div class="container mt-5">

<div class="form-area">

    <h3>Kayit Ol</h3>
    <hr>


    <form action="{% url 'user-register' %}" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <p class="error"> {{message}}</p>
          
        {% endfor %}
    
    <input type="text" placeholder="Kullanici Adi" name="k_ad" class="form-control">
    <input type="text" placeholder="Email" name="k_email" class="form-control">
    <input type="password" placeholder="Sifre" name="k_sifre" class="form-control">

    <span>Zaten bir hesabin var mi? <a href="{% url 'user-login' %}">Giris Yap</a> </span>

    <div class="mt-3">

        <button class="btn btn-success">Kayit Ol</button>
    </div>

    </form>

</div>
</div>
  
{% endblock site-icerigi %}